body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #93f2f7;
  color: #05202e;
}

/* Navbar */
.topbar {
  background: #173b82;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 8px 12px;
}
.logo {
  background: #fff;
  color: #173b82;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
}
.nav-links {
  display: flex;
  gap: 15px;
  list-style: none;
}
.nav-links a { color: #fff; text-decoration: none; }

#contacto{
  background-color: rgb(255, 255, 255);
}

body.dark {
  background: #0d1117; 
  color: #e6edf3;
}

#formulario{
   background-color: rgb(255, 255, 255);
}

body.dark #formulario{
  background: #2f3641; 
  color: #e6edf3;
}


/* Navbar */
body.dark .topbar {
  background: #161b22;
  color: #e6edf3;
}

body.dark .logo {
  background: #e6edf3;
  color: #161b22;
}

/* Enlaces */
body.dark .nav-links a {
  color: #e6edf3;
}

body.dark #contacto{
   background: #21252b; 
  color: #e6edf3;
}


/* Proyectos */
.projects { text-align: center; padding: 30px 0; }
.project-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}
.card {
  width: 200px; height: 200px;
  border-radius: 12px;
  overflow: hidden;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: .3s;
}
.card:hover { transform: scale(1.05); }
.card img {
  width: 100%; height: 100%;
  object-fit: cover;
}

p {
  margin: 0 auto;
  width: 50%; /* o el ancho que quieras */
}


/* Responsive */
@media (max-width: 900px) {
  .project-grid { grid-template-columns: repeat(2, 1fr); }
}
@media (max-width: 500px) {
  .project-grid { grid-template-columns: 1fr; }
}

/* Footer */
footer { text-align: center; margin: 20px 0; }
